@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* font-family: 'Orbitron', sans-serif; */

.App {
  text-align: center;
  color: #53B804;
  z-index: 1;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/space-bg-1920x1248.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}


